* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
}

.header .logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
  font-size: 20px;
  color: #58af9c;
}

.header .logo i {
  font-size: 40px;
}

.header .search {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-left: 10px;
}

.search-content {
  width: 80%;
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 5px;
  gap: 10px;
  font-size: 20px;
  transition: all 0.5s ease;
}

.search-content:hover {
  border: 2px solid #428677;
  border-radius: 10px;
}

.search-content input {
  width: 100%;
  border: transparent;
  outline: none;
  color: #6d7674;
}

.search-content i {
  font-size: 16px;
  color: #58af9c;
}

.header .info {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
}

.info .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info .icons i {
  color: #428677;
  font-size: 20px;
  cursor: pointer;
}

.info .icons .notifications {
  position: relative;
}

.info .icons .notifications span {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #f00;
  color: #ffffff;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.header .info .icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 90%;
  background-color: #F9FAFB;
  display: flex;
}

/* Menu */

.main .menu {
  width: 20%;
  height: 100%;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li .link-menu {
  display: flex;
  gap: 20px;
}

li .link-menu {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  transition: all 0.5s ease;
}

.main .menu .menu-content .link-menu:hover {
  background-color: #f3f5f4;
  /* transform: scale(1.05); */
}

.main .menu .menu-content a {
  text-decoration: none;
  color: #6d7674;
  width: 100%;
  /* height: 100%; */
}

.main .menu .menu-content .link-menu.active {
  background-color: #f3f5f4;
  font-weight: bold;
}

.main .menu .menu-content i {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #58af9c;
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #58af9c;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

.buttons button:hover {
  background-color: #428677;
}

/* Conteúdo */

.content {
  margin: 15px;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 30px;
}

.content .content-text {
  width: 100%;
  height: 50px;
  background-color: #58af9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.content .content-text .text {
  display: flex;
  gap: 10px;
}

.content .content-text a {
  text-decoration: none;
  color: #ffffff;
}

/* Cards */

.cards {
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  gap: 15px;
}

.cards .card-content {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #d1d6d5;
  border-radius: 10px;
  gap: 10px;
  transition: all 0.5s ease;
}

.cards .card-content:hover {
  transform: scale(1.03);
}

.cards .card-content .card-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.cards .card-content .card-icon.clients {
  background-color: #e3cebd;
  color: #c2804a;
}

.cards .card-content .card-icon.balance {
  background-color: #b7dfc6;
  color: #428677;
}

.cards .card-content .card-icon.sales {
  background-color: #b2badb;
  color: #3052d7;
}

.cards .card-content .card-icon.contacts {
  background-color: #ddb7e1;
  color: #c632d6;
}

.cards .card-content .card-icon i {
  font-size: 20px;
  /* color: #ffffff; */
}

.cards .card-content .card-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  color: #6d7674;
  gap: 10px;
}

/* Table content */
.table-content {
  width: 100%;
  border: 2px solid #d1d6d5;
  border-radius: 10px;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f1f5f4;
  color: #898a8d;
}

thead th {
  text-align: left;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #d1d6d5;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

tbody tr {
  height: 50px;
  border-bottom: 2px solid #d1d6d5;
  transition: all 0.5s linear;
  color: #6d7674;
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #d1d6d5;
}

tbody tr td {
  height: 100%;
  padding: 15px 10px;
}

tbody tr td span i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #6d7674; */
}

/* 
.user-image i{
  height: 100%;
  width: 10%;
  font-size: 30px;
} */